html,body{
    height: 100%;
    margin: 0;
    background: #000;
    overflow: hidden;
}

canvas{
    display: block;
    width: 100%;
    height: 100%;
}

.hint{
    position:fixed;
    left: 12px;
    bottom: 12px;
    color: #cfe8ff;
    font-family: system-ui;
    font-size: 12px;
    font-size: 12px;
    opacity: 0.8;
}